.color-white {
    color: white !important; 
}
.custom-text-color {
    color: rgb(161, 0, 161);
}
.btn-custom-color {
    background-color: purple;
    border-color: purple;
    color: white;
}
table {
    width: 800px;
    font-family: sans-serif;
    font-weight: 100;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px #0000001a;
}
th, td{
    background-color: #c0c0c07b;
    padding: 15px;
    color: #000000;
}
th {
    text-align: left;
}
thead th {
    background-color: #a100a1 !important;
    border: 1px solid #000000;
    color: white !important;
    text-align: center;
}
tbody tr:hover{
    background-color: #a100a135;
}
tbody td{
    position: relative;
}
tbody td:hover:before {
    content: "";
    position: absolute;
    background-color: #a100a135;;
    left: 0;
    right: 0;
    top: -1000px;
    bottom: -1000px;
    z-index: -0;
}
